$background-color: #eee;
$text-color: #444;



body{
  height:100%;
  height: 100%;
  text-align: center;
  background-color: $background-color;
  color: $text-color;
}

#root{
  overflow: hidden;
}
.App{
  overflow: hidden;
}

.InfoCard{
  position: absolute;
  height: 45vh;
  width: 90vw;
  top: 50vh;
  left: 5vw;
  background-color: white;
}
.clear-button{
  position: relative;
  top: 10px;
  right: 10px;
}

.timegrid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
}
.gridlist{
  flex-wrap: nowrap;
  transform: translateZ(0);
}

@import 'GeocodeResult';
@import 'Map';