$background-color: #ffffff;
$text-color: #444;

body{
  height:100%;
  height: 100%;
  text-align: center;
  background-color: $background-color;
  color: $text-color;
}

#root{
  overflow: hidden;
  height: 100vh;
}
.app{
  height: 100%;
}
.App{
  overflow: hidden;
}
.mapcontainer{
  height: 100%;
}
.clear-button{
  position: relative;
  top: 10px;
  right: 10px;
}

.timegrid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
}
.gridlist{
  flex-wrap: nowrap;
  transform: translateZ(0);
}
