
.avatarContain{
  position: fixed;
  top: 5vw;
  right: 5vw;
}
// .avatar{
//   width:60px;
//   height: 60px;
// }

.InfoCard{
  position: absolute;
  height: 45vh;
  width: 94vw;
  max-width: 500px;
  bottom: 5vw;
  left: 3vw;
  background-color: white;
}
.map{
  text-align: left;
  height: 100vh;
  width: 100vw;
  position: fixed;
  overflow-y: hidden;
  overscroll-behavior-y: none;
}
